<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557329062230-om2711c1eob03h96r2430ftelpdl89fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557329062230-om2711c1eob03h96r2430ftelpdl89fk</string>
	<key>API_KEY</key>
	<string>AIzaSyBdSOvmjPeih0ZCCO31dXQf57ub33zZYek</string>
	<key>GCM_SENDER_ID</key>
	<string>557329062230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.management</string>
	<key>PROJECT_ID</key>
	<string>mangement-system-219c0</string>
	<key>STORAGE_BUCKET</key>
	<string>mangement-system-219c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557329062230:ios:cf67877b2c8f2a02649ef7</string>
</dict>
</plist>